<footer>
  <div class="footer">
    <div class="menu-footer">
      <h3>Explore</h3>
      <a href="/">Home</a>
      <a href="/rentals">Rentals</a>
      <a href="/sign-up">Sign Up</a>
      <a href="/log-in">Log In</a>
    </div>
    <br />

    <div class="social-media">
      <h3>Social Media</h3>
      <a href="https://www.facebook.com"
        ><i class="fa-brands fa-facebook"></i>Facebook</a
      >
      <a href="https://www.instagram.com"
        ><i class="fa-brands fa-instagram"></i>Instagram</a
      >
      <a href="https://www.twitter.com"
        ><i class="fa-brands fa-twitter"></i>Twitter</a
      >
      <a href="https://www.youtube.com"
        ><i class="fa-brands fa-youtube"></i>YouTube</a
      >
    </div>
    <div class="copy-right">
      <p>
        By submitting this assignment I declare that this assignment is my own
        work in accordance with the Seneca Academic Policy. No part of this
        assignment has been copied manually or electronically from any other
        source (including web sites) or distributed to other students.
      </p>

      <p>©Siripa Purinruk, spurinruk@myseneca.ca, WEB322 Winter 2023</p>
    </div>
  </div>
</footer>
