<footer>
  <div class="footer">
    <div class="menu-footer">
      <h3>Explore</h3>
      <a href="/">Home</a>
      <a href="/rentals">Rentals</a>
      <a href="/sign-up">Sign Up</a>
      <a href="/log-in">Log In</a>
    </div>
    <br />

    <div class="social-media">
      <h3>Social Media</h3>
      <a href="https://www.facebook.com"
        ><i class="fa-brands fa-facebook"></i>Facebook</a
      >
      <a href="https://www.instagram.com"
        ><i class="fa-brands fa-instagram"></i>Instagram</a
      >
      <a href="https://www.twitter.com"
        ><i class="fa-brands fa-twitter"></i>Twitter</a
      >
      <a href="https://www.youtube.com"
        ><i class="fa-brands fa-youtube"></i>YouTube</a
      >
    </div>
    <div class="copy-right">
      <p>©Siripa Purinruk, 2023</p>
    </div>
  </div>
</footer>
