
  <body>
    <%- include('partials/navbar') %>
    <div class="form">
      <form class="login-form">
        <h2>Welcome Back</h2>
        <input type="email" placeholder="Email Address" />
        <input type="password" placeholder="Password" />
        <button class="login-btn">Log In</button>
        <a href="/sign-up">Create Account?</a>
      </form>
    </div>
    <%- include ('partials/footer') %>
  </body>
  <script src="/js/dropdownMenu.js"></script>
</html>
