<!DOCTYPE html>

  <body>
    <%- include('partials/navbar') %>
    <div class="form">
        <form class="signup-form">
          <h2>Sign Up</h2>
          <p>
            Create your account by entering your email address and choosing a
            password
          </p>
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
        <input type="email" placeholder="Email Address" />
        <input type="password" placeholder="Password" />
        <button class="signup-btn">Sign Up</button>
      </form>
    </div>
    <%- include ('partials/footer') %>
  </body>
  <script src="/js/dropdownMenu.js"></script>
</html>
